
    <div class="col-6">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" value="{{this.Item}}" placeholder="Item" name="Item">
          <label for="floatingInput">Name of Product</label>
        </div>
    </div>
    <div class="col-6">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" value="{{this.SKU}}" placeholder="SKU" name="SKU">
          <label for="floatingInput">SKU</label>
        </div>
    </div>
    <div class="col-6">
        <div class="form-floating mb-3">
          <input type="number" class="form-control" id="floatingInput" value="{{this.Amount}}" placeholder="Amount" name="Amount">
          <label for="floatingInput">Amount</label>
        </div>
    </div>
    <div class="col-6">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" value="{{this.Features}}" placeholder="Features" name="Features">
          <label for="floatingInput">Features</label>
        </div>
    </div>
        <div class="col-12">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" value="{{this.Notes}}" placeholder="Notes" name="Notes" style="height: 200px;">
          <label for="floatingInput">Notes</label>
        </div>
    </div>

    <div class="col-12 d-grid">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
